.list{ 
    width: 30%;
    float: left;
    height: 115%; 
    margin-right: 1px;
    border: 1px solid rgb(59, 66, 88);
    border-radius: 5px;
  }
  .content{ width: 69%; 
    float: right;
    height: 115%; 
    border: 1px solid rgb(59, 66, 88);
    border-radius: 5px;
  }
  .smallbox{ width: 100%; 
    float: right;
    height: 25%; 
    border: 1px solid rgb(59, 66, 88);
    border-radius: 5px;
  }
  #navbar{
      width: 100%;
      height:50px;
      background-color: rgb(59, 66, 88);
  }
  ul{
      list-style-type: none;
      margin: 0;
      padding: 0;
      background-color: rgb(59, 66, 88);
  }
  li {
      float: left;
    }
    
    li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
    
    li a:hover {
      background-color: white;
      color:rgb(59, 66, 88);
    }
  
  #list-div{
    height: 475px;
      
      overflow-y: scroll;
  }
  #list-div ul li{
    word-spacing: 30px;
  }
  .list-table{
    border-collapse: collapse;
    
    font-size: 20px;
    max-width: 100%;
  }
  .list-table thead tr {
    
    font-weight: bold;
    border: 1px solid #dddddd; 
    margin-bottom:5px;
  
  }
  .list-table thead td {
    text-align: center;
  }
  
  .list-table tbody tr{
    
    border: 1px solid #dddddd;
  }
  .list-table tbody td{
     padding: 15px 12px;
     text-align:center;
  }
  .openbutton{
    margin-top: 13px;
    box-sizing: border-box;
    background-color: rgb(59, 66, 88);
    float: right;
    outline: none;
    border: none;
    color:white;
    border-radius: 20px;
    font-size: 20px;
  }
  
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid rgb(59, 66, 88);
  }
  .bill-details{
    width: 100%;
    height: 24%;
    border-bottom: 2px groove;
  }
  .bill-image{
    width: 100%;
    height: 68%;
    border-bottom: 2px groove;
  }
  .response-btn{
    width: 100%;
    height: 8%;
  }
  input[type="text"]{
    width:200px;
    font-size: 20px;
  }

  .dropbtn {
    background-color: rgb(59, 66, 88);
    color: rgb(59, 66, 88);
    padding: 10px;
    font-size: 20px;
    border: none;
    color: rgb(252, 252, 252);
    text-align: center;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    font-size: 20px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #3e8e41;}