
<div class="container">
    <div id="upperContent">
        
        <div class="detail">
            <table border="1px solid">
               <tr>
                   <td>total Bill Approved :</td>
                   <td>5</td>
               </tr>
               <tr>
                <td> Total Amount Reimbursed : </td>
                <td>5000 /-</td>
            </tr>
            </table>
        </div>
        <div class="logout">
            <button class="logout-button" routerLink="/">Logout</button>
        </div >
    </div>
    
    <div id="lowerContent">
        
            <app-list></app-list>
        
        <!--
            <div class="list">
            <app-list></app-list>
        </div>
        <div class="content">
            <p>
                content works!
            </p>
              
        </div>
        -->
        
    </div>
    
    
    
</div>